<section class="table-responsive col-lg-6">
  <h3 class="panel-heading text-capitalize col-lg-9">{{ userName }}'s Teams</h3>
  <button class="btn btn-default btn-xs btn-center col-lg-3" type="button" (click)="modalService.openModal()">
    <i class="fa fa-industry"></i>
    <span class="bold">Add Team</span>
  </button>
  <div class="panel panel-filled col-lg-12">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let team of teams; let index = index;" (click)="toTeam(team.id)">
        <th class="row-num-label">{{ index + 1 }}.</th>
        <td>{{ team.name }}</td>
        <td>Users: {{ team.users.length }}</td>
        <td>Projects: {{ team.projects.length }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<app-add-team (onAddProjectEvent)="addTeam($event)"></app-add-team>
