<div *ngIf="modalService.show" class="modal" id="add-project-modal" tabindex="-1" role="dialog" (click)="modalService.handleClick($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">Add Project</h3>
      </div>
      <form #addProjectForm="ngForm" id="addProjectForm" (ngSubmit)="addProjectToTeam()" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-group-item">
              <label class="control-label">Name</label>
              <select2 [data]="select2Data" (valueChanged)="changed($event)" [cssImport]="false" [options]="options"></select2>
            </div>
          </div>
        </div>
        <div class="modal-footer footer-left">
          <button type="submit" class="btn btn-accent">Submit</button>
          <button (click)="modalService.closeModal();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
