<div class="panel-body">
  <div class="table-responsive">
    <a class="btn btn-default fa fa-check-square-o small bold" data-toggle="modal" data-target="#new_testcase_modal" href=""> Add Testcase</a>
    <a class="btn btn-default fa fa-check-square-o small bold" target="_blank" href="/projects/15/testcases/export"> Export Testcase</a>
    <button class="btn btn-default fa fa-check-square-o small bold" (click)="importTestCaseModalService.openModal()">Import Testcases</button>
    <div class="table-responsive space-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Testcase Name</th>
            <th>Version</th>
            <th>Keywords</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="testcases?.length > 0" >
          <tr *ngFor="let testcase of testcases; let index = index;" [attr.id]="testcase.id">
            <td>{{ testcase.testcaseId }}</td>
            <td>{{ testcase.name }}</td>
            <td>{{ testcase.version }}</td>
            <td>{{ testcase.keywords }}</td>
            <td>{{ testcase.updatedAt }}</td>
            <td>
              <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Edit Testcase" type="button"
                      (click)="setTargetedTestCase($event); editTestCaseModalService.openModal();">
                <i class="pe-7s-edit"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="testcases?.length == 0">
          <h5 class="notification">No Testcases Available</h5>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-import-testcases></app-import-testcases>
<app-edit-testcase></app-edit-testcase>
