<div class="panel-body">
  <div class="table-responsive">
    <a class="btn btn-default fa fa-check-square-o small bold" data-toggle="modal" data-target="#new_testcase_modal" href=""> Add Testcase</a>
    <a class="btn btn-default fa fa-check-square-o small bold" target="_blank" href="/projects/15/testcases/export"> Export Testcase</a>
    <button class="btn btn-default fa fa-check-square-o small bold" (click)="modalService.openModal()">Import Testcases</button>
    <div class="space-10">
      <table class="table table-striped table-hover dataTable no-footer">
        <thead>
        <tr>
          <th>ID</th>
          <th>Testcase Name</th>
          <th>Version #</th>
          <th>Keywords</th>
          <th>Last Updated</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="testcases">
        <tr>
          <td class="table-number">1.</td>
          <td>
            <a href="/testcases/3788">Content Detail - Content Detail Element Verification</a>
          </td>
          <td>1</td>
          <td><div class="label label-info"></div></td>
          <td>
            <div class="small overview-time">
              4 months ago
            </div>
          </td>
          <td>
            <span class="testcase-link fa fa-pencil link-like small" data-path="/testcases/3788/edit" data-target="#testcase_modal" data-toggle="modal"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-import-testcases></app-import-testcases>
