<div class="panel panel-filled">
  <div class="panel-heading heading-md">
    Projects
    <button class="btn btn-default btn-xs btn-center pull-right" type="button" (click)="modalService.openModal()">
      <i class="fa fa-industry"></i>
      <span class="bold">Add Project</span>
    </button>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr *ngFor="let project of projects; let index = index;" (click)="toProject(project.id)">
          <th class="row-num-label">{{ index + 1 }}.</th>
          <td>{{ project.name }}</td>
          <td>
            <span id="{{project.id}}" class="pe-7s-trash pull-right" data-toggle="tooltip" data-placement="bottom" title="Delete Project" (click)="deleteProject($event, index)"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-team-add-existing-project></app-team-add-existing-project>
