<section class="content">
  <div class="back-link">
    <a routerLink="/" class="btn btn-accent">Back to Dashboard</a>
  </div>

  <div class="container-center animated slideInDown">
    <div class="view-header">
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-add-user"></i>
      </div>
      <div class="header-title">
        <h3>Register</h3>
        <small>
          Please enter your data to register.
        </small>
      </div>
    </div>

    <div class="panel panel-filled">
      <div class="panel-body">
        <register-form></register-form>
      </div>
    </div>
  </div>
</section>
