<div *ngIf="modalService.show" class="modal" id="add-user-modal" tabindex="-1" role="dialog" (click)="modalService.handleClick($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">Add User</h3>
      </div>
      <form #addUserForm="ngForm" id="addUserForm" [formGroup]="addUserFormGroup" (ngSubmit)="addUserToTeam(addUserFormGroup.value)" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div *ngIf="nameFlag" class="help-block error small">Name has already been taken.</div>
            <div class="form-group-item">
              <label class="control-label" for="select2-team_users">Name</label>
              <select formControlName="select2" id="select2-team_users" name="select2-team_users" class="form-control select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                <option value=""></option>
                <option *ngFor="let user of users;" [value]="user.name" [attr.data-id]="user.id"></option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-team_user_id-container">
                    <span id="select2-per5-container" class="select2-selection__rendered" >
                      <span class="select2-selection__placeholder">Select User</span>
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
              </span>
              <div class='form-text error' *ngIf="addUserFormGroup.controls.select2.touched">
                <div *ngIf="addUserFormGroup.controls.select2.hasError('required')" class="help-block error small">Select a user to add.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer footer-left">
          <button type="submit" class="btn btn-accent" [disabled]="!addUserFormGroup.valid">Submit</button>
          <button (click)="modalService.closeModal(); addUserForm.reset();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
