<form id="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword(forgotPasswordForm.value)" novalidate>
  <div class="form-group">
    <label>Email</label>
    <input type="email" value="" id="email" class="form-control" formControlName="email" name="email">
    <div class='form-text error' *ngIf="forgotPasswordForm.controls.email.touched">
      <div *ngIf="forgotPasswordForm.controls.email.hasError('invalidEmail')">Email is invalid.</div>
      <div *ngIf="forgotPasswordForm.controls.email.hasError('required')" class="help-block error small">Email is required.</div>
    </div>
    <span *ngIf="forgotPasswordForm.controls.email.valid || !forgotPasswordForm.controls.email.touched" class="help-block small">Your email address</span>
  </div>
  <div>
    <button class="btn btn-accent" !forgotPasswordForm.valid>Send Password Reset</button>
    <a class="btn btn-default" routerLink="/login">Cancel</a>
  </div>
</form>
