<div *ngIf="importTestCaseModalService.show" class="modal" id="add-team-modal" tabindex="-1" role="dialog" (click)="importTestCaseModalService.handleClick($event)">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">Import Testcases</h3>
      </div>
      <div class="modal-body">
        <dropzone [config]="config" [message]="'Click or drag file here to upload'" (success)="onUploadSuccess($event)"></dropzone>
        <div class="panel panel-filled panel-c-success panel-collapse">
          <div class="panel-heading" (click)="onClick($event)">
            <div class="panel-tools">
              <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
            </div>
            Successful Testcases Imported
            <span class="badge badge-success">{{ successTestcases?.length }}</span>
          </div>
          <div class="panel-body" style="display: none;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Validation ID</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="successTestcases?.length > 0" >
                  <tr *ngFor="let testcase of successTestcases; let index = index;">
                    <td>{{ testcase.validation_id }}</td>
                    <td>{{ testcase.name }}</td>
                  </tr>
                </ng-container>
                <tr *ngIf="successTestcases?.length == 0">
                  <h5 class="notification">No Testcases Found</h5>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-filled panel-c-danger panel-collapse">
          <div class="panel-heading" (click)="onClick($event)">
            <div class="panel-tools">
              <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
            </div>
            Failed Testcases Imported
            <span class="badge badge-error">{{ failureTestcases?.length }}</span>
          </div>
          <div class="panel-body" style="display: none;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="failureTestcases?.length > 0">
                  <tr *ngFor="let message of failureTestcases; let index = index;">
                    <td>{{ message.error }}</td>
                  </tr>
                </ng-container>
                <tr *ngIf="failureTestcases?.length == 0">
                  <h5 class="notification">No Testcases Found with Errors</h5>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer footer-left">
        <button (click)="importTestcases(); importTestCaseModalService.closeModal();" [disabled]="!hasPreview" type="button" class="btn btn-default space-5" data-dismiss="modal">Import</button>
        <button (click)="importTestCaseModalService.closeModal();" type="button" class="btn btn-default space-5" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
