
<h1>Reset your Mustard Password</h1>

<p>
  A password reset has been initiated for the Mustard User <%= @username %>
</p>

<p>
  <%= link_to 'Click Here', @url %>
  to reset your password
</p>

<p>
  If you did not request this password reset please contact the system administrator.
</p>




