<aside class="navigation">
  <nav>
    <ul class="nav luna-nav">
      <li class="nav-category">
        Main
      </li>
      <li>
        <a routerLink="">Dashboard</a>
      </li>
      <li *ngIf="!projectsFlag">
        <a href="#projects" data-toggle="collapse" aria-expanded="false">
          Projects<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
        </a>
        <ul id="projects" class="nav nav-second collapse">
          <li *ngFor="let project of projects;">
            <a [routerLink]="['/projects/', project.id]">{{ project.name }}</a></li>
        </ul>
      </li>
      <li *ngIf="!teamsFlag">
        <a href="#teams" data-toggle="collapse" aria-expanded="false">
          Teams<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
        </a>
        <ul id="teams" class="nav nav-second collapse">
          <li *ngFor="let team of teams;"><a [routerLink]="['/teams/', team.id]"> {{ team.name }}</a></li>
        </ul>
      </li>
      <li *ngIf="!usersFlag">
        <a routerLink="/users">
          <span class="badge pull-right">{{ usersCount }}</span>
          Users
        </a>
      </li>
    </ul>
  </nav>
</aside>
