<section class="content">
  <div class="back-link">
    <a routerLink="/login" class="btn btn-accent">Back to Login</a>
  </div>

  <div class="container-center animated slideInDown">
    <div class="view-header">
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-id"></i>
      </div>
      <div class="header-title">
        <h3>Reset password</h3>
        <small>
          Please enter your email to rest your password.
        </small>
      </div>
    </div>

    <div class="panel panel-filled">
      <div class="panel-body">
        <forgot-password-form></forgot-password-form>
      </div>
    </div>

  </div>
</section>
